{% extends 'base.html' %}

{% block title %}
    Data Table Page
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Data Table</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <th>I</th>
                    <th>J</th>
                    <th>K</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data A1</td>
                    <td>Data B1</td>
                    <td>Data C1</td>
                    <td>Data D1</td>
                    <td>Data E1</td>
                    <td>Data F1</td>
                    <td>Data G1</td>
                    <td>Data H1</td>
                    <td>Data I1</td>
                    <td>Data J1</td>
                    <td>Data K1</td>
                </tr>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
