<!DOCTYPE html>
<html lang="eng">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <title>
        {%block title%}{%endblock%}
    </title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="#">some_link</a></li>

        </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True)%}
    {%for message in messages%}
    {{message}}
    {%endfor%}
    {%endwith%}
    {%block content%}
    {% endblock %}
</body>

</html>